.drawer {
    background-color: #222;
    border: 2px #000000 solid;
    position: fixed;
    border-radius: 0 20px 20px 0;
    color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    overflow: hidden;
    animation: slideOutLeft;
    animation-duration: 0.3s;
    animation-delay: 0.3s;
    translate: -200px;
    top: 5rem;
    bottom: 0;
    width: 200px;
}

.drawer.open {
  border: 2px #000000 solid;
  position: fixed;
  translate: 0;
  left: 0;
  top: 5rem;
  bottom: 0;
  width: 200px;
  height: auto;
  animation: slideInLeft;
  animation-duration: 0.3s;
}
