.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50rem;
    color: #fff;
}

.listHead{
    background-color: #0099ff;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50rem;
}

.task {
    background-color: #ffb056;
    border: 2px solid #fff;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 50rem;
    cursor: pointer;
}

.task.completed {
    background-color: #389925;
}

.listContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Cambiado a flex-start */
    align-items: center;
    margin: 0.5rem auto;
    width: 50rem;
    max-height: 80vh;
    overflow-y: auto; /* Cambiado a auto */
    overflow-x: hidden;
    border: 2px solid #fff;
  }

  .taskInfo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50rem;

  }
  
  .taskInfo p {
    margin-right: 1rem;
  }
  
  .taskInfo div {
    display: flex;
    flex-direction: column;
    font-size: small;
  }
  
  .taskInfo div p {
    margin: 0;
  }

  .taskInfo h1 {
    font-size: x-large;
  }

  .due{
    display: flex;
    justify-self: right;
  }
